<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    
    
    <%- include ('../partials/head.ejs') %>  
</head>
<body>
    <%- include ('../partials/header.ejs') %>
<main>
    
    <div class="container"><br><br><br><br>
            <form method="POST" action="/servicios/edit/<%=servicioAEditar.id %>">
                <label>Nombre</label>
                <input type="text" id="nombreservicio" name="nombreservicio" value="<%=servicioAEditar.nombre %>"/>
                <button type="submit">Grabar</button>
            </form>
    </div>
  
   
          
   
  
</main>
    <%- include ('../partials/footer') %>
       



</body>
</html>